security:
    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers

    encoders:
        App\Entity\Admin:
            algorithm: bcrypt
    providers:
        custom_provider:
            entity:
                class: App\Entity\Admin
                property: username
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            pattern: ^/
            provider: custom_provider
            anonymous: true

            form_login:
                login_path: login
                check_path: login
                default_target_path: admin_users_index

            logout:
                path: /logout
                target: /login
    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
