{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ header }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create</button>
        {{ form_end(form) }}
    </div>
{% endblock %}