@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/glyphicons';

.form-signin {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    padding-top: 50px;
    margin: 0 auto;
}

.form-signin .form-control {
    padding: 10px;
}

.submit-button {
    margin-top: 1rem;
}

.container {
    width: 100%;
    margin-top: 25px;
}

.form-adduser {
    width: 350px;
}

